<div #background class="vanta-bg">
  <div class="container">
    <div class="card_group">
      <bidv-card-layout class="card_layout" style="width: 24rem;">
        <div class="card_header">
          <h1 class="bidv-text_headline-4">Login</h1>
          <p class="bidv-text_body-2 bidv-space_top-2">Enter your email below to login to your account
          </p>
        </div>

        <bidv-card-content>
          <form>
            <router-outlet></router-outlet>
          </form>
        </bidv-card-content>
      </bidv-card-layout>
    </div>
  </div>
</div>
