<section class="sorting-container">
  <form [formGroup]="sortingForm">
    <span class="bidv-text_label-1 bidv-space_right-4">Sắp xếp theo</span>

    <bidv-select
      formControlName="sortByCreatedAt"
      bidvTextfieldSize="s"
      class="item-select"
    >
      Ngày tạo
      <bidv-data-list-wrapper
        *bidvDataList
        [items]="sortByCreatedAts"
      ></bidv-data-list-wrapper>
    </bidv-select>

    <bidv-select
      formControlName="sortByPrice"
      bidvTextfieldSize="s"
      class="item-select price"
    >
      Giá
      <bidv-data-list-wrapper
        *bidvDataList
        [items]="sortByPrices"
      ></bidv-data-list-wrapper>
    </bidv-select>
  </form>
</section>
