<ng-container *ngIf="me; else anonymous">
  <div bidvDropdownHover [bidvDropdown]="content">
    <bidv-avatar-navigation
      [src]="me.avatar ?? '/avatar.jpg'"
      [titleName]="me.fullName"
      class="_info"
      [description]="[ROLES[me.role]]"
    />
  </div>
  <ng-template #content>
    <div class="dropdown-menu">
      <div class="user-info">
        <p class="user-email">{{ me.email }}</p>
      </div>
      <ul class="dropdown-list">
        <ng-container *ngFor="let item of authenticatedNavLinks">
          <li>
            <a [routerLink]="[item.link]">{{ item.label }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-template>
</ng-container>

<ng-template #anonymous>
  <nav class="anonymous">
    <ng-container *ngFor="let item of anonymousNavLinks">
      <a [routerLink]="[item.link]">{{ item.label }}</a>
    </ng-container>
  </nav>
</ng-template>
