main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.lecture-list-container {
  flex-grow: 1;

  .no-content-box {
    background: var(--colors-gray-50);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .no-content-box__content {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      align-items: center;
    }
  }
}

.lecture-table-box {
  margin-top: 1rem;
}
