<section>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="title-box">
    <h1 class="bidv-text_headline-4 title">Quản lý</h1>
    <span class="bidv-text_body-1">Quản lý tài khoản và đơn hàng</span>
  </div>
  <bidv-divider />

  <div class="tab-layout">
    <nav
      bidvTabs
      vertical="left"
      class="left"
      [activeItemIndex]="activeItemIndex"
    >
      <ng-container *ngFor="let item of tabLinks">
        <button bidvTab (click)="onTabClick(item.link)" class="tab-item">
          {{ item.label }}
        </button>
      </ng-container>
    </nav>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
