<div>
  <div class="title-box">
    <h2 class="bidv-text_headline-5">Account information</h2>
    <span class="bidv-text_body-2"
      >You can change your account information here</span
    >
  </div>
  <bidv-divider />
  <form
    (ngSubmit)="handleUpdateProfile()"
    *ngIf="me"
    [formGroup]="userInfoForm"
  >
    <div class="grid grid-cols-12">
      <div class="col-span-8 left">
        <label class="bidv-text_label-1">
          Full name
          <bidv-input formControlName="fullName" bidvTextfieldSize="s">
            <input bidvTextfield placeholder="Trần Hồng Thái" />
          </bidv-input>
          <bidv-error
            formControlName="fullName"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <label class="bidv-text_label-1">
          Email
          <bidv-input formControlName="email" bidvTextfieldSize="s">
            <input bidvTextfield placeholder="thaimeo@gmail.com" />
          </bidv-input>
          <bidv-error
            formControlName="email"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <label class="bidv-text_label-1">
          Phone number
          <bidv-input formControlName="phoneNumber" bidvTextfieldSize="s">
            Phone number
            <input bidvTextfield placeholder="Trần Hồng Thái" />
          </bidv-input>
          <bidv-error
            formControlName="phoneNumber"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <label class="bidv-text_label-1">
          Date of birth
          <bidv-input-date
            bidvUnfinishedValidator="Finish filling the field"
            formControlName="dob"
          >
            Choose a date
          </bidv-input-date>
          <bidv-error
            formControlName="dob"
            [error]="[] | bidvFieldError | async"
          />
        </label>

        <div class="account-status">
          <span class="bidv-text_label-1">Account status </span>

          <ng-container *ngIf="verified; else unverified">
            <bidv-badge
              iconLeft="bidvIconCheckmarkStarburst"
              appearance="primary"
              >Verified
            </bidv-badge>
          </ng-container>

          <ng-template #unverified>
            <bidv-badge
              class="badge-red"
              iconLeft="bidvIconErrorCircle"
              appearance="danger"
              >Unverified</bidv-badge
            >
            <button bidvButton type="button" size="s" variant="outlined">
              Send mail to verify
            </button>
          </ng-template>
        </div>

        <button
          bidvButton
          [loading]="updateProfileResult().isPending || isUploading"
          class="submit-btn"
        >
          Cập nhật
        </button>
      </div>
      <div class="col-span-4">
        <div class="avatar-box">
          <bidv-avatar [src]="avatarSrc" size="120">{{
            me.fullName
          }}</bidv-avatar>
          <label *ngIf="!avatarControl?.value" bidvInputFiles>
            <input
              accept="image/*"
              bidvInputFiles
              title="Choose files (no limits)"
              [formControl]="avatarControl"
            />
          </label>

          <bidv-files class="bidv-space_top-1">
            <bidv-file
              *ngIf="avatarControl.valueChanges | async as file"
              [file]="file"
              (remove)="removeFile()"
            />
          </bidv-files>
        </div>
      </div>
    </div>
  </form>
</div>
