<section class="sub-content-container">
  <bidv-tabs [(activeItemIndex)]="activeItemIndex">
    <button bidvTab iconLeft="bidvIconVideo" class="tab-item">
      Nội dung bài giảng
    </button>
    <button bidvTab iconLeft="bidvIconDocumentFlowchart" class="tab-item">
      Bài tập
    </button>
    <button bidvTab iconLeft="bidvIconHeart" class="tab-item">
      Khóa học liên quan
    </button>
  </bidv-tabs>

  <!-- Tab content -->
  <div *ngIf="activeItemIndex === 0">
    <app-lecture-list
      *ngIf="courseId"
      [courseId]="courseId"
      [scrollable]="false"
    />
  </div>

  <div *ngIf="activeItemIndex === 1">
    <app-problem-table
      [courseId]="courseId"
      [hideStatus]="true"
      [hidePagination]="true"
      [clickableRow]="false"
      [hideFilter]="true"
    />
  </div>

  <div *ngIf="activeItemIndex === 2">
    <app-course-list
      [type]="activeType"
      [enableSorting]="false"
      [enablePagination]="false"
    />
  </div>
</section>
