<div class="admin-lecture-detail">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

  <section *ngIf="lectureData">
    <div class="lecture-header">
      <h1 class="bidv-text_display-3 title">
        {{ lectureData.title }}
      </h1>
      <div class="sub-title">
        <span>ID: {{ lectureData.id }}</span>
        <span>Cập nhật: {{ lectureData.updatedAt | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <div class="intro-container">
      <div class="video-box">
        <iframe
          *ngIf="videoUrl; else skeleton"
          [src]="videoUrl"
          width="100%"
          height="520"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <ng-template #skeleton>
          <div [bidvSkeleton]="true" style="width: 100%; height: 520px"></div>
        </ng-template>
      </div>
      <div class="admin-actions">
        <div class="action-box">
          <h2 class="bidv-text_headline-4">Quản trị bài giảng</h2>

          <div class="actions-container">
            <button
              *ngIf="!isActive"
              bidvButton
              (click)="navigateToEdit()"
              variant="filled"
              appearance="gray"
              class="action-btn"
            >
              Cập nhật
            </button>

            <button
              *ngIf="!isActive"
              bidvButton
              (click)="handleActivateLecture()"
              variant="filled"
              class="action-btn"
            >
              Kích hoạt bài giảng
            </button>

            <button
              *ngIf="isActive"
              bidvButton
              (click)="handleDeactivateLecture()"
              variant="filled"
              class="action-btn"
            >
              Hủy kích hoạt
            </button>

            <button
              bidvButton
              (click)="handleArchiveLecture()"
              variant="outlined"
              class="action-btn"
            >
              Lưu trữ bài giảng
            </button>

            <button
              bidvButton
              (click)="handleDeleteLecture()"
              variant="outlined"
              appearance="negative"
              class="action-btn delete-btn"
            >
              Xóa bài giảng
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="admin-details">
      <div class="section">
        <h3 class="bidv-text_headline-5">Chi tiết bài giảng</h3>
        <div class="details-grid">
          <div class="detail-item">
            <span class="label">Ngày tạo:</span>
            <span class="value">{{
              lectureData.createdAt | date: 'dd/MM/yyyy'
            }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Ngày cập nhật:</span>
            <span class="value">{{
              lectureData.updatedAt | date: 'dd/MM/yyyy'
            }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Trạng thái:</span>
            <span>
              <bidv-badge size="m" shape="square" [class]="badgeItem.class">
                {{ badgeItem.label }}
              </bidv-badge>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <div class="tabs-container">
      <bidv-tabs [(activeItemIndex)]="activeTabIndex">
        <button bidvTab iconLeft="bidvIconTextboxSettingsOutline">
          Mô tả bài giảng
        </button>
        <button bidvTab iconLeft="bidvIconDocumentTextOutline">
          Quản lý tài liệu
        </button>
      </bidv-tabs>

      <div *ngIf="activeTabIndex === 0" class="description">
        <h3 class="bidv-text_headline-5">Mô tả bài giảng</h3>
        <div [innerHTML]="lectureData.content"></div>
      </div>

      <div *ngIf="activeTabIndex === 1">
        <app-admin-lecture-document />
      </div>
    </div>
  </section>
</div>
