<main>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="header-container">
    <h1 class="bidv-text_headline-4 title">Danh sách mã giảm giá</h1>
    <button
      bidvButton
      (click)="navigateToCreateCoupon()"
      iconLeft="bidvIconAdd"
      variant="filled"
    >
      Tạo mã giảm giá
    </button>
  </div>

  <!-- Coupon table here -->
  <app-base-table
    queryKey="problem-repository"
    [columnDefs]="columnDefs"
    [params]="params"
    [api]="getAllCouponsQuery"
    [gridOptions]="gridOptions"
    [hiddenPagination]="false"
  />
</main>
