.card_layout {
  width: 100%;
  max-width: 330px;
  border: 1px solid #ccc;
}

.image-box {
  height: 180px;
  border-top-left-radius: var(--corner-radius-m);
  border-top-right-radius: var(--corner-radius-m);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.card_content {
  padding-bottom: 1.5rem;
}

.price-text {
  margin-top: 0.5rem;
}
