<div>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <section class="grid grid-cols-12 gap-4">
    <div *ngIf="lectureData" class="col-span-9">
      <h1 class="bidv-text_headline-2 title">
        Bài {{ lectureData.no }}: {{ lectureData.title }}
      </h1>
      <span>Updated at: {{ lectureData.updatedAt | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div class="col-span-9">
      <router-outlet></router-outlet>
    </div>

    <div class="col-span-3">
      <app-lecture-list
        *ngIf="courseId"
        (selectLectureEvent)="handleSelectLecture($event)"
        [courseId]="courseId"
        [canInteract]="true"
        [scrollable]="true"
      />
    </div>
  </section>
</div>
