form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.password-label {
  display: flex;
  justify-content: space-between;

  .forgot-password {
    cursor: pointer;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }
}

.submit-btn {
  width: 100%;
}

.footer {
  text-align: center;

  a {
    color: var(--text-neutral-default);
  }
}
