.table-detail-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .wrapper-table {
    background: white;
    overflow: hidden;

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 1rem;

      .table-action-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-left: 24px;

        .button-group {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
      }
    }

    .pagination {
      background: white;
      padding: 16px;
    }
  }

  .transaction-params-no-data {
    flex-grow: 1;
    display: flex;
    min-height: 244px;
  }
}

.ag-header-cell-label {
  white-space: normal;
}

.ag-cell {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;

  .ag-cell-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.ag-cell:focus {
  outline: none !important;
  border: none !important;
}

.ag-row-focus {
  background-color: var(--colors-primary-50) !important;
}
