<div class="table-detail-container">
  <ng-content select="[table-filter]"></ng-content>

  <ng-container
    *ngIf="
      (featureQueryResult$ | async)?.isLoading ||
        (featureQueryResult$ | async)?.isSuccess ||
        renderedRowData;
      else noData
    "
  >
    <div class="wrapper-table">
      <div style="height: 100%">
        <bidv-loader
          style="height: 100%"
          [showLoader]="(featureQueryResult$ | async)?.isFetching ?? false"
          [useLogo]="true"
          [overlay]="true"
        >
          <ag-grid-angular
            style="height: 100%"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [rowHeight]="rowHeight"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [overlayNoRowsTemplate]="overlayNoRowsTemplate"
            (rowSelected)="onRowSelected($event)"
            (rowClicked)="onRowClicked($event)"
            enableCellTextSelection
          >
          </ag-grid-angular>
        </bidv-loader>

        <div class="pagination" *ngIf="!hiddenPagination && totalPage > 0">
          <bidv-pagination-select-page
            [index]="pageIndex"
            [itemPages]="itemPages"
            [itemPerPages]="itemPerPages"
            [total]="totalElements"
            [showCount]="false"
            [showSearchPage]="false"
            (handleSelectPage)="selectPage($event)"
            (indexChange)="goToPage($event)"
          />
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <campaign-no-data
      class="transaction-params-no-data"
      iconUrl="./campaign/assets/icons/no-data.png"
      [title]="'Không có dữ liệu'"
      [description]="
        !!noDataDescription
          ? noDataDescription
          : 'Hiện chưa có dữ liệu bạn đã tìm kiếm.'
      "
    />
  </ng-template>
</div>
