<section>
  <form *ngIf="!hideFilter" [formGroup]="filterForm">
    <bidv-input
      class="search-input"
      bidvTextfieldIconLeft="bidvIconSearch"
      formControlName="search"
      [bidvTextfieldCleaner]="true"
    >
      Tìm kiếm bài toán
    </bidv-input>
  </form>

  <app-base-table
    queryKey="problem-repository"
    [columnDefs]="columnDefs"
    [params]="params"
    [api]="getActiveProblemsApi.bind(this)"
    [gridOptions]="gridOptions"
    [hiddenPagination]="hidePagination"
  />
</section>
