<section>
  <app-sorting
    *ngIf="enableSorting"
    (sortingChangeEvent)="handleSortingChange($event)"
  />

  <div class="course-list-container">
    <ng-container *ngFor="let item of courseList; index as i">
      <div class="course-item-card">
        <app-course-item [isPurchased]="isPurchased" [course]="item" />
      </div>
    </ng-container>
  </div>

  <bidv-pagination
    *ngIf="enablePagination"
    [length]="pageCount"
    [index]="currentPageIndex"
    (indexChange)="goToPage($event)"
  ></bidv-pagination>
</section>
