<ng-container>
  <label class="bidv-text_label-1 bidv-text_semibold">
    Email
    <bidv-input formControlName="email" bidvTextfieldSize="s">
      Type an email
      <input bidvTextfield placeholder="thaimeo@gmail.com" />
    </bidv-input>
  </label>

  <label>
    <div class="password-label">
      <span class="bidv-text_label-1 bidv-text_semibold">Password</span>
      <span class="bidv-text_label-2 forgot-password">Forgot your password?</span>
    </div>
    <bidv-input-password bidvTextfieldSize="s" formControlName="password">Type a password</bidv-input-password>
  </label>

  <button bidvButton size="s" class="submit-btn" style="width: 100%;">
    Login
  </button>

  <button bidvButton size="s" class="submit-btn" style="width: 100%;" variant="outlined">
    Login with Google
  </button>

  <div class="bidv-text_label-1 footer">
    Don't have an account?
    <a routerLink="/auth/register">Sign up</a>
  </div>
</ng-container>
