<div class="course-form-container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="title-box">
    <h1 class="bidv-text_headline-4 title">Tạo mới khóa học</h1>
    <span class="bidv-text_body-1">Nhập thông tin khóa học</span>
  </div>
  <bidv-divider />

  <form
    [formGroup]="courseForm"
    (ngSubmit)="handleCreateCourse()"
    class="form-container"
  >
    <div class="grid-layout">
      <div class="form-section">
        <h2 class="bidv-text_headline-5 section-title">Thông tin cơ bản</h2>

        <div class="form-controls">
          <!-- Title -->
          <label class="bidv-text_label-1">
            Tên khóa học
            <bidv-input formControlName="title" bidvTextfieldSize="s">
              <input bidvTextfield placeholder="Nhập tên khóa học" />
            </bidv-input>
            <bidv-error
              formControlName="title"
              [error]="[] | bidvFieldError | async"
            ></bidv-error>
          </label>

          <!-- Description -->
          <label class="bidv-text_label-1">
            Mô tả
            <bidv-input formControlName="description" bidvTextfieldSize="s">
              <textarea
                rows="5"
                bidvTextfield
                placeholder="Nhập mô tả khóa học"
              ></textarea>
            </bidv-input>
            <bidv-error
              formControlName="description"
              [error]="[] | bidvFieldError | async"
            ></bidv-error>
          </label>

          <!-- Price -->
          <label class="bidv-text_label-1">
            Giá tiền
            <bidv-input formControlName="price" bidvTextfieldSize="s">
              <input
                type="number"
                min="0"
                bidvTextfield
                placeholder="Nhập giá tiền"
              />
            </bidv-input>
            <bidv-error
              formControlName="price"
              [error]="[] | bidvFieldError | async"
            ></bidv-error>
          </label>

          <!-- Video URL -->
          <label class="bidv-text_label-1">
            URL Video
            <bidv-input formControlName="videoUrl" bidvTextfieldSize="s">
              <input bidvTextfield placeholder="Nhập URL video khóa học" />
            </bidv-input>
            <bidv-error
              formControlName="videoUrl"
              [error]="[] | bidvFieldError | async"
            ></bidv-error>
          </label>
        </div>
      </div>

      <!-- Thumbnail -->
      <div class="thumbnail-container">
        <div class="thumbnail-box">
          <h2 class="bidv-text_headline-5 section-title">Ảnh thumbnail</h2>

          <div class="thumbnail-preview" *ngIf="thumbnailSrc">
            <img [src]="thumbnailSrc" alt="Thumbnail preview" />
          </div>

          <div class="upload-controls" [class.no-thumbnail]="!thumbnailSrc">
            <div class="upload-method">
              <div class="file-upload">
                <label *ngIf="!thumbnailControl?.value" bidvInputFiles>
                  <input
                    accept="image/*"
                    bidvInputFiles
                    title="Chọn ảnh thumbnail"
                    [formControl]="thumbnailControl"
                  />
                </label>

                <bidv-files class="bidv-space_top-1">
                  <bidv-file
                    *ngIf="thumbnailControl.valueChanges | async as file"
                    [file]="file"
                    (remove)="removeThumbnail()"
                  />
                </bidv-files>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <button bidvButton type="button" variant="outlined">Hủy</button>

      <button bidvButton variant="filled">Tạo khóa học</button>
    </div>
  </form>
</div>
