<header>
  <div bidvContainer="xxl" class="container navigation_container">
    <nav>
      <a [routerLink]="['/']" bidvNavigationLogo>
        <img src="/b-one-logo.svg" />
      </a>

      <ng-container *ngFor="let item of navLinks">
        <a
          [routerLink]="[item.link]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
      </ng-container>
    </nav>

    <app-user-info [me]="me" />
  </div>
</header>
