<div>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="problem-container">
    <div class="content-container">
      <bidv-tabs [(activeItemIndex)]="activeItemIndex" [underline]="false">
        <button bidvTab iconLeft="bidvIconDocumentDataOutline" class="tab-item">
          Nội dung bài toán
        </button>
        <button bidvTab iconLeft="bidvIconHistoryOutline" class="tab-item">
          Lịch sử nộp bài
        </button>
      </bidv-tabs>

      <!-- Tab content -->
      <div class="content-box">
        <bidv-scrollbar style="height: calc(600px - 1rem)">
          <ng-container *ngIf="activeItemIndex === 0">
            <!-- <bidv-scrollbar> -->
            <div [innerHTML]="safeContent"></div>
            <!-- </bidv-scrollbar> -->
          </ng-container>

          <ng-container *ngIf="activeItemIndex === 1">
            <app-submission-history
              (selectedRowDataEvent)="handleSubmissionHistory($event)"
              [problemId]="problemId"
            />
          </ng-container>
        </bidv-scrollbar>
      </div>
    </div>
    <div class="code-editor-box">
      <app-code-mirror-editor
        [code]="code"
        [language]="language"
        (languageChangeEvent)="handleLanguageChange($event)"
      />
    </div>
  </div>
  <div class="submit-box">
    <button
      bidvButton
      (click)="handleSubmit()"
      [loading]="executeCodeResult().isPending"
      iconLeft="bidvIconSaveOutline"
      size="s"
    >
      Nộp bài
    </button>
  </div>
</div>
