.problem-container {
  display: flex;
  column-gap: 1rem;
}

.content-container {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content-box {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
}

.code-editor-box {
  width: 50%;
  flex: 1;
}

.submit-box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: end;
}
