/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

// Reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

// Custom css
/* Grid container */
.grid {
  display: grid;
}

/* Grid columns */
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* Grid rows */
.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

/* Gap */
.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-12 {
  gap: 3rem;
}

/* Column start */
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}

/* Row start */
.row-span-1 {
  grid-row: span 1 / span 1;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-span-4 {
  grid-row: span 4 / span 4;
}

/* Justify Items */
.justify-items-start {
  justify-items: start;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-stretch {
  justify-items: stretch;
}

/* Align Items */
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.items-stretch {
  align-items: stretch;
}

/* Responsive Grid */
@media (min-width: 640px) {
  /* sm */
  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .sm\:col-span-4 {
    grid-column: span 4 / span 4;
  }
}

@media (min-width: 768px) {
  /* md */
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .md\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .xl\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .xl\:col-span-8 {
    grid-column: span 8 / span 8;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .\32xl\:col-span-5 {
    grid-column: span 5 / span 5;
  }
  .\32xl\:col-span-12 {
    grid-column: span 12 / span 12;
  }
}

// Badge styles
.badge-gray {
  --t-background-color: var(--background-neutral-on-default-low);
  --t-text-color: var(--text-neutral-default);
  --t-icon-color: var(--foreground-neutral-default);
}

.badge-green {
  --t-background-color: var(--background-semantic-positive-subtle);
  --t-text-color: var(--text-semantic-positive-intermediate);
  --t-icon-color: var(--foreground-semantic-positive-intermediate);
}
.badge-orange {
  --t-background-color: var(--background-semantic-notice-subtle);
  --t-text-color: var(--text-semantic-notice-intermediate);
  --t-icon-color: var(--foreground-semantic-notice-intermediate);
}

.badge-red {
  --t-background-color: var(--background-semantic-negative-subtle);
  --t-text-color: var(--text-semantic-negative-intermediate);
  --t-icon-color: var(--foreground-semantic-negative-intermediate);
}

.badge-blue {
  --t-background-color: var(--background-semantic-informative-subtle);
  --t-text-color: var(--text-semantic-informative-intermediate);
  --t-icon-color: var(--foreground-semantic-infomative-intermediate);
}

.text-green {
  color: var(--text-semantic-positive-intermediate);
  font-weight: 500;
}

.text-orange {
  color: var(--text-semantic-notice-intermediate);
  font-weight: 500;
}

.text-red {
  color: var(--text-semantic-negative-intermediate);
  font-weight: 500;
}

.text-blue {
  color: var(--text-semantic-informative-intermediate);
  font-weight: 500;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}
