/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Add global styles
@import '@bidv-ui/styles/bidv-grid.min.css';

a {
  text-decoration: none;
  color: inherit;
}

.badge-gray {
  --t-background-color: var(--background-neutral-on-default-low);
  --t-text-color: var(--text-neutral-default);
  --t-icon-color: var(--foreground-neutral-default);
}

.badge-green {
  --t-background-color: var(--background-semantic-positive-subtle);
  --t-text-color: var(--text-semantic-positive-intermediate);
  --t-icon-color: var(--foreground-semantic-positive-intermediate);
}
.badge-orange {
  --t-background-color: var(--background-semantic-notice-subtle);
  --t-text-color: var(--text-semantic-notice-intermediate);
  --t-icon-color: var(--foreground-semantic-notice-intermediate);
}

.badge-red {
  --t-background-color: var(--background-semantic-negative-subtle);
  --t-text-color: var(--text-semantic-negative-intermediate);
  --t-icon-color: var(--foreground-semantic-negative-intermediate);
}

.badge-blue {
  --t-background-color: var(--background-semantic-informative-subtle);
  --t-text-color: var(--text-semantic-informative-intermediate);
  --t-icon-color: var(--foreground-semantic-infomative-intermediate);
}

.text-green {
  color: var(--text-semantic-positive-intermediate);
  font-weight: 500;
}

.text-orange {
  color: var(--text-semantic-notice-intermediate);
  font-weight: 500;
}

.text-red {
  color: var(--text-semantic-negative-intermediate);
  font-weight: 500;
}

.text-blue {
  color: var(--text-semantic-informative-intermediate);
  font-weight: 500;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}
