<section>
  <h1 class="bidv-text_display-3 title">NodeJs Super</h1>
  <div class="sub-title">
    <span>By: Trần Hồng Thái</span>
    <span>Updated at: 02/2025</span>
  </div>

  <div class="intro-container">
    <div class="video-box">
      <iframe
        *ngIf="videoUrl"
        [src]="videoUrl"
        width="100%"
        height="520"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <div class="info-box">
      <div class="invited-info">
        <h2 class="bidv-text_headline-2">1.590.000 ₫</h2>
        <ul>
          <ng-container *ngFor="let item of invitedInfo">
            <li><bidv-svg [src]="item.icon" /> {{ item.title }}</li>
          </ng-container>
        </ul>
        <button
          bidvButton
          (click)="handleAction()"
          variant="filled"
          class="action-btn"
        >
          {{ isPurchased ? 'Tham gia học' : 'Mua ngay' }}
        </button>
        <button
          *ngIf="isPurchased"
          bidvButton
          (click)="handleNavigateProblem()"
          variant="outlined"
          class="action-btn"
        >
          Thực hành
        </button>
      </div>
    </div>
  </div>

  <div class="description">
    <p class="bidv-text_headline-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deserunt
      nemo enim commodi fugiat fugit repellendus, odit officia optio repellat
      minima ipsam, corporis architecto magnam. Dolorum eum repellendus cum
      dolore! Iusto eveniet voluptatem deleniti, maxime doloribus totam
      voluptatibus maiores itaque aliquam ut laboriosam culpa accusantium error
      repudiandae aperiam, est aliquid provident corporis neque commodi ab
      debitis! Debitis, dignissimos possimus. Modi. Magni explicabo possimus
      recusandae aliquam magnam minus facilis ea, perspiciatis a, qui aut animi
      omnis vel dignissimos voluptatum beatae dicta, accusantium quas quaerat
      iste? Accusamus at aspernatur ex repellat placeat.
    </p>
  </div>
</section>
