<section *ngIf="detailCourse">
  <h1 class="bidv-text_display-3 title">
    {{ detailCourse.title }}
  </h1>
  <div class="sub-title">
    <span>Người tạo: Trần Hồng Thái</span>
    <span>Cập nhật: {{ detailCourse.updatedAt | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="intro-container">
    <div class="video-box">
      <iframe
        *ngIf="videoUrl; else skeleton"
        [src]="videoUrl"
        width="100%"
        height="520"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <ng-template #skeleton>
        <div [bidvSkeleton]="true" style="width: 100%; height: 520px"></div>
      </ng-template>
    </div>
    <div class="info-box">
      <div class="invited-info">
        <h2 class="bidv-text_headline-2">
          {{ detailCourse.price | bidvAmount: 'VND' | async }}
        </h2>
        <ul>
          <ng-container *ngFor="let item of invitedInfo">
            <li><bidv-svg [src]="item.icon" /> {{ item.title }}</li>
          </ng-container>
        </ul>
        <button
          bidvButton
          (click)="handleAction()"
          [loading]="
            payMutationResult().isPending || isPurchaseQueryResult().isFetching
          "
          variant="filled"
          class="action-btn"
        >
          {{ isPurchased ? 'Tham gia học' : 'Mua ngay' }}
        </button>
        <button
          *ngIf="isPurchased"
          bidvButton
          (click)="handleNavigateProblem()"
          variant="outlined"
          class="action-btn"
        >
          Thực hành
        </button>
      </div>
    </div>
  </div>

  <div class="description">
    <p class="bidv-text_headline-8">
      {{ detailCourse.description }}
    </p>
  </div>
</section>
