<div>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="title-box">
    <h1 class="bidv-text_headline-4 title">{{ title }}</h1>
    <bidv-divider />
  </div>

  <form
    [formGroup]="couponForm"
    (ngSubmit)="handleSubmit()"
    class="form-container"
  >
    <div class="form-controls">
      <div class="grid grid-cols-2 gap-4">
        <!-- Coupon Type -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Loại giảm giá</span>
          <bidv-select formControlName="type">
            Chọn loại giảm giá
            <bidv-data-list-wrapper *bidvDataList [items]="couponTypes" />
          </bidv-select>
          <bidv-error
            formControlName="type"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <!-- Coupon Code -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Mã giảm giá</span>
          <bidv-input
            formControlName="code"
            bidvTextfieldIconLeft="bidvIconMoney"
            >Nhập mã giảm giá</bidv-input
          >
          <bidv-error
            formControlName="code"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <!-- Percent Off -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Phần trăm giảm giá (%)</span>
          <bidv-input formControlName="percentOff">
            Nhập phần trăm giảm giá
            <input bidvTextfield type="number" />
          </bidv-input>
          <bidv-error
            formControlName="percentOff"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <!-- Amount Off -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Số tiền giảm giá (VND)</span>
          <bidv-input formControlName="amountOff">
            Nhập số tiền giảm giá
            <input bidvTextfield type="number" />
          </bidv-input>
          <bidv-error
            formControlName="amountOff"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <!-- Max Redeem -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Số lần áp dụng tối đa</span>
          <bidv-input formControlName="maxRedeem" [bidvTextfieldCleaner]="true">
            Nhập số lần áp dụng tối đa
            <input bidvTextfield type="number" />
          </bidv-input>
          <bidv-error
            formControlName="maxRedeem"
            [error]="[] | bidvFieldError | async"
          ></bidv-error>
        </label>

        <!-- Expiration Date -->
        <label class="col-span-1">
          <span class="bidv-text_label-1">Ngày hết hạn</span>
          <bidv-input-date-time
            formControlName="expiredAt"
            [min]="minDate"
            [bidvTextfieldCleaner]="true"
          >
            Chọn ngày hết hạn
          </bidv-input-date-time>
          <bidv-error
            formControlName="expiredAt"
            [error]="[] | bidvFieldError | async"
          />
        </label>
      </div>
    </div>

    <div class="actions">
      <button
        bidvButton
        variant="outlined"
        type="button"
        (click)="handleCancel()"
      >
        Hủy
      </button>
      <button
        bidvButton
        [loading]="
          createCouponResult().isPending || updateCouponResult().isPending
        "
        variant="filled"
        type="submit"
      >
        {{ couponData ? 'Cập nhật' : 'Tạo mới' }}
      </button>
    </div>
  </form>
</div>
